@model do_an_web.Models.product
@using do_an_web.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .row{
        justify-content:center;
        align-items:center;
    }
</style>
<h2>THÔNG TIN CHI TIẾT SẢN PHẨM</h2>
<br />
<div class="row">
    <div class="offset-md-1 col-md-4">
        <img style="width:350px; height:350px;" src="~/Content/Images/@Model.images" alt="">
        <img style="width:350px; height:350px;" src="~/Content/Images/@Model.images" alt="" />  
    </div>
    <div class="col-md-6 details">
        <h3>Tên sách: @Model.name</h3><br />
        <div style="text-align: justify">
            Mô tả: @Model.descibe
        </div>        
        <p class="price">
            Giá bán: <span style="color:red; font-size:32px;">
                @String.Format("{0:0.00}", Model.price) VNĐ
            </span>
        </p>
        <a class="btn btn-primary" href="@Url.Action("addtocart", "cart", new{ id_products = Model.id_products })">
            Đặt mua
        </a>
    </div>
</div>
@section scripts{
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.slider').slick({
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3
            });
        })
    </script>
}
