
@{
    ViewBag.Title = "chinh_sach_thanh_toan_view";
    Layout = "~/Views/Home/chinh_sach_thanh_toan.cshtml";
}

<nav class="nav">
    <div class="logo">
        <a href="https://localhost:44373/Home/web_clothes_view"><img src="~/hinh-pro/logo.jpg" /></a>
    </div>
    <div class="search-box">
        <input type="text" name="search" class="input-search" placeholder="Search" />
        <button>
            <i class="bi bi-search"></i>
        </button>
    </div>
    <ul class="nav-link">
        <li>
            <a href="https://localhost:44373/Home/login_view">Login</a>
        </li>
        <li>
            <a href="#">Register</a>
        </li>
        <li>
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>
<nav class="tab2">
    <div class="tab2-title">
        <ul class="title">
            <li class="home">
                <a href="https://localhost:44373/Home/web_clothes_view">Home</a>
            </li>
            <li class="list">
                <h2>Clothings</h2>
                <ul class="dropdown">
                    <li><a href="">All</a></li>
                    <li><a href="">Tee</a></li>
                    <li><a href="">Bottom</a></li>
                    <li><a href="">Hoodie</a></li>
                    <li><a href="">Sweater</a></li>
                    <li><a href="">Jacket</a></li>
                    <li><a href="">Cap</a></li>
                    <li><a href="">Shirt</a></li>
                    <li><a href="">Accessories</a></li>
                    <li><a href="">Jacket</a></li>
                </ul>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
            <li class="clearance">
                <a href="">Clearance_Sale</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="dieu-khoan-tag">
    <a class="dieu-khoan" href="https://localhost:44373/Home/chinh_sach_thanh_toan_view">Chính Sách Thanh Toán</a>
</nav>
<nav class="title-dieu-khoan">
    <div class="main-dieu-khoan">
        <p style="padding:6rem 0; font-size:20px;">
            Mua hàng nhanh chóng và tiện lợi với Co_chay.com bằng hình thức thanh toán khi nhận hàng COD:<br/><br />

            - Là cách thanh toán dễ dàng nhất, đặc biệt khi bạn không quen với các hình thức thanh toán trực tuyến.<br /><br />

            - Quý khách nhận hàng, kiểm tra hàng và thanh toán trực tiếp cho nhân viên giao hàng<br /><br />
        </p>
    </div>
</nav>
<nav class="footer">
    <div class="footer-title">
        <div class="social">
            <h2>Liên Hệ</h2>
            <div class="icon">
                <a href="https://www.facebook.com/hoangtran1609"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/lol_bruzzzz/"><i class="fa-brands fa-instagram"></i></a><br /><br />
                <a href=""><i class="fa-brands fa-telegram"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div class="help">
            <h2>Hướng Dẫn</h2>
            <ul class="de-muc">
                <li><a href="https://localhost:44373/Home/dieu_khoan_view">Điều Khoản</a></li>
                <li><a href="https://localhost:44373/Home/huong_dan_mua_hang_view">Hướng Dẫn Mua Hàng</a></li>
                <li><a href="https://localhost:44373/Home/chinh_sach_doi_tra_view">Chính Sách Đổi Trả</a></li>
                <li><a href="">Bảo Mật Thông Tin Khách Hàng</a></li>
                <li><a href="https://localhost:44373/Home/chinh_sach_thanh_toan_view">Chính Sách Thanh Toán</a></li>
                <li class="reversed"><p>Co_Chay®</p></li>
                <li class="reversed"><p>Copy By Needs Of Wisdom®</p></li>
            </ul>
        </div>
        <div class="contact_us">
            <h2>Địa Chỉ</h2>
            <ul class="de-muc">
                <li><a href="">CN Chính: <span style="font-weight: bold;">123 Nguyễn Văn Linh, Quận 7, TP.HCM</span></a></li>
                <li><a href="">CN 2 <span style="font-weight: bold;">445 Sư Vạn Hạnh, P.12, Q.10</span></a></li>
                <li><a href="">CN 3 <span style="font-weight: bold;">48 Trần Quang Diệu, P.14, Q.3</span></a></li>
                <li><a href="">CN 4 <span style="font-weight: bold;">463 Quang Trung, P.10, Q. Gò Vấp</span></a></li>
                <li><a href="">Điện Thoại: <span style="font-weight: bold;">0946253769</span></a></li>
                <li><a href="">Email: <span style="font-weight: bold;">tranbaohoang70@gmail.com</span></a> <span style="color: white">|</span> <a href="">Email: <span style="font-weight: bold;">tranbaohoang2003@gmail.com</span></a></li>
            </ul>
        </div>

    </div>
</nav>

