
@{
    ViewBag.Title = "chinh_sach_doi_tra_view";
    Layout = "~/Views/Shared/chinh_sach_doi_tra.cshtml";
}
<nav class="trading">
    <div class="trade-title">
        @Html.ActionLink("Chính Sách Đổi Trả Hàng", "chinh_sach_doi_tra","Home",null, new {@class="title1"})
    </div>
    <div class=" trade-main">
        <p>
            • Sản phẩm đã mua được đổi trong vòng 7 ngày (Tính từ ngày in trên hoá đơn).<br /><br />

            • Sản phẩm phải trong tình trạng mới, chưa giặt, chưa cắt tag và còn giữ hoá đơn thanh toán.<br /><br />

            • Sản phẩm nhận được bị lỗi do sản xuất.<br /><br />

            • Khi sản phẩm nhận được không đúng với sản phẩm đặt hàng.<br /><br />

            • Đối với mỗi hóa đơn, khách hàng được đổi hàng duy nhất 1 lần.<br /><br />

            • Không hỗ trợ đổi, trả các sản phẩm được khuyến mãi, giảm giá.<br /><br />
            
            • Sản phẩm đã mua được đổi trong vòng 7 ngày (Tính từ ngày in trên hoá đơn).<br /><br />

            • Sản phẩm phải trong tình trạng mới, chưa giặt, chưa cắt tag và còn giữ hoá đơn thanh toán.<br /><br />

            • Sản phẩm nhận được bị lỗi do sản xuất.<br /><br />

            • Khi sản phẩm nhận được không đúng với sản phẩm đặt hàng.<br /><br />

            • Đối với mỗi hóa đơn, khách hàng được đổi hàng duy nhất 1 lần.<br /><br />

            • Không hỗ trợ đổi, trả các sản phẩm được khuyến mãi, giảm giá.<br /><br />
        </p>
    </div>
</nav>



