@using do_an_web.Models
@model product
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .row{
        font-family:monospace;
        font-size:20px;
    }
</style>
<h2>THÔNG TIN CHI TIẾT SÁCH</h2>
<br />
<div class="row">
    <div class="offset-md-2 col-md-4">
        <label>Hình Sản Phẩm</label>
        <img style="width:550px; height:550px;" src="~/Content/Images/@Model.images" alt="">
        <label>Bảng Size</label>
        <img style="width:550px; height:550px;" src="~/Content/Images/@Model.images_size" alt="">
    </div>    
    
    <div class="col-md-6 details">
        <h3>Tên sách: @Model.name</h3>
        <p style="text-align: center">
            <span style="font-weight: bold">Mô tả:</span> @Model.descibe
        </p>
        <p class="price">
            Giá bán: <span style="color:red; font-size:32px;">@Model.price VNĐ</span>
        </p>
        <button class="btn btn-primary">
            <a href="@Url.Action("addtocart","Cart", new { id_product = Model.id_products })" 
               style="text-decoration:none; color:white;">ĐẶT MUA</a>
        </button>
    </div>
</div>

