@model IEnumerable<do_an_web.Models.category>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="tab2">

    <div class="tab2-title">
        <ul class="tab2-details">
            <li class="home">
                <a href="@Url.Action("Index","Home")">Home</a>
            </li>
            <li class="list">
                <p style="font-family: monospace; font-weight:700; font-size:25px;">Clothings</p>
                <ul class="dropdown">
                    @foreach (var item in Model) { 
                        <li><a href="@Url.Action("Home", "Index", new {@class="product-details"})">@item.name_category</a></li>
                    }
                </ul>
            </li>
            <li>
                <a href="@Url.Action("Contact_View","Home")">Contact</a>
            </li>
            <li class="clearance">
                <a href="">Clearance_Sale</a>
            </li>
        </ul>
    </div>
</nav>
<nav class="tab3">  
    <h2></h2>
</nav>


