<a href="@Url.Action("showcart", "cart")" style="text-decoration: none; color:white; font-weight: bold">
    <img src="~/Content/Images/Giohang.gif" /> Giỏ hàng (@ViewBag.caculate_total_quantity)
</a>
